.gameWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContainer {
    line-height: 0;
}

.gameContainer canvas {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.uiContainer {
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    user-select: none;
}

.infoDisplay {
    font-size: 1.2em;
    padding: 10px;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
    min-width: 150px;
    text-align: center;
    color: #f0f0f0;
}